@font-face{
   font-family: 'Biryani-Bold';
   src: url("../fonts/Biryani-Bold.ttf");
}

@font-face{
    font-family: 'Biryani-Light';
    src: url("../fonts/Biryani-Light.ttf");
}

@font-face{
    font-family: 'Biryani-Regular';
    src: url("../fonts/Biryani-Regular.ttf");
}

@font-face{
    font-family: 'Biryani-SemiBold';
    src: url("../fonts/Biryani-SemiBold.ttf");
}

@font-face{
    font-family: 'Philosopher';
    src: url("../fonts/Philosopher-Regular.ttf");
}

.container-fluid{
    height: 100vh;
    width: 100vw;
    background: url('../images/daybg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.whiteBg{
    background-color: #ffffff;
}

.titleTxt{
    font-family: 'Philosopher';
    font-size: 2rem;
    margin-bottom: 0 !important;
    color: #707070;
    font-weight: bold;
}

.form-control{
    font-family: 'Biryani-Regular';
    border-radius: 10px ;
    font-size: 0.8reml
}

.searchBtn{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #BDB8F8;
    border: none;
}

.fas{
    font-size: 20px;
    color: #ffffff;
}

.currentWeatherContainer{
    border-radius: 15px;
}

.locationTxt{
    font-family: 'Biryani-Light';
    font-size: 1.3rem;
    color: #454545;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

.faveBtn{
    text-decoration: none;
}

.far{
    font-size: 20px;
}

.yellow{
    filter: invert(83%) sepia(33%) saturate(4145%) hue-rotate(359deg) brightness(102%) contrast(102%);
}

.currentWeatherIcon{
    font-size: 10px;
}

.currentTempTxt{
    font-family: 'Philosopher';
    font-size: 5.6rem;
    line-height: 1;
    color: #454545;
    margin-bottom: 12px;
}

.currentWeatherIcon{
    height: 80px;
    width: 80px;
}

.dayHr {
    border:none;
    border-top:2px dotted #989595;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:90%;
    padding-top: 0px;
  }

  .weatherDescTxt{
      font-family: 'Philosopher';
      font-size: 1.1rem;
      color: #454545;
  }

  /* -----SECOND COLUMN */
  .timeTxt{
    font-family: 'Biryani-Light';
    color: #454545;
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .hourlyWeatherIcon{
      height: 50px;
      width: 50px;
      margin-top: 0px;
  }

  .hourlyWeatherIconMoon{
      height: 30px;
      width: 30px;
      margin-bottom: 0;
  }

  .hourlyTxt{
      font-family: 'Biryani-Light';
      font-size: 1rem;
      margin-bottom: 0px;
  }